.capabilities {
  margin-top: 118px;
  margin-bottom: 115px;
}

.capabilities__top-line {
  @include flexAlign($justify: space-between);

  margin-bottom: 76px;
}

.capabilities__title {
  flex-shrink: 0;
  margin-right: 155px;
}

.capabilities__info {
  margin-right: 32px;

  @include font(11, 19, 400, 0);
}

.capabilities__button {
  flex-shrink: 0;
}

.capabilities__list {
  @include flexAlign();
}

.capabilities__item {
  outline: 1px solid var(--color-secondary);

  &:not(:last-child) {
    margin-right: 28px;
  }
}

.capabilities__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 38px 22px;

  color: var(--color-primary);
}

.capabilities__image {
  display: block;
  margin-bottom: 25px;
}

.capabilities__subtitle {
  display: block;
  margin-bottom: 13px;

  @include font(16, 24, 700, 0);
}

.capabilities__text {
  display: block;
  @include font(13, 23, 400, 0);
}
