.container {
  width: 971px;
  padding-left: 15px;
  padding-right: 15px;

  margin-right: auto;
  margin-left: auto;

  /* !удалить */
  outline: 1px solid green;
  // background-color: lightblue;
}
