/* *Стили для кнопок */
.button {
  cursor: pointer;
  display: inline-block;
  width: 150px;
  height: 40px;
  padding: 11px;

  @include font(13, 15, 700, 0);
  text-align: center;
  text-transform: uppercase;

  background-color: var(--color-brand);
  color: var(--color-white);

  @include projTransitions(background);

  /* События кнопок */
  &:hover,
  &:focus {
    background-color: var(--color-accent);
  }
}
